{
  "id": "{{appName}}",
  "name": "{{displayName}}",
  "description": "{{description}}",
  "domain": "{{domain}}",
  "version": "{{version}}",
  "publisher": {
    "name": "{{publisherName}}",
    "url": "{{publisherUrl}}",
    "support": "{{publisherUrl}}"
  },
  "dependencies": {}
}
