{
  "name": "{{cartridgeName}}",
  "version": "{{version}}",
  "description": "{{description}}",
  "scripts": {
    "test": "jest",
    "test:watch": "jest --watch",
    "test:coverage": "jest --coverage",
    "lint": "eslint cartridge/"
  },
  "keywords": [
    "commerce-cloud",
    "sfcc",
    "{{domain}}",
    "{{appName}}"
  ],
  "paths": {
    "base": "./cartridge/"
  },
  "devDependencies": {
    "jest": "^29.0.0",
    "eslint": "^8.0.0"
  }
}
